/* Base Styles -------------------- */
body {
    background-color: #1F1F1F;
    font-size: 16px;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 1.375rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 1.3;
}

p, ul span {
    color: #6E6E6E;
    font-size: 15px;
    display: block;
}

p {
    margin: 0 auto;
    line-height: 1.6;
}

ul {
    margin: 20px 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: 700;
    padding-top: 30px;
    text-align: center;
}

li span {
    padding-top: 10px;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    width: 90%;
}

/* Card */
.card {
    background-color: white;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
    text-align: center;
    margin: 80px auto 0;
    border-radius: .5em;
    display: grid;
    max-width: 1000px;
    grid-template-rows: minmax(300px, auto) 1fr;
    grid-template-areas: "image"
                         "body";
}

.card-image {
    background-image: url('../img/annie-spratt-QckxruozjRg-unsplash.jpg');
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    grid-area: image;
    max-width: 100%;
    height: 100%;
    background-color: rgba(36, 246, 92, .5);
    background-blend-mode: overlay;
    background-size: cover;
}

.card-body {
    padding: 20px 15px;
    grid-area: body;
}

.highlight {
    color: #24F65C
}


/* Media Queries -------------------- */
@media (min-width: 786px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 2.6rem;
    }

    p {
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
    }

    ul {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .container {
        max-width: 1440px;
    }

    .card {
        text-align: left;
        height: 500px;
        grid-template-areas: "body image";
        grid-template-columns: 500px 500px;
    }

    .card-body {
        padding: 3.1em 4em 3.3em 4em;
    }

    .card-image {
        border-top-left-radius: 0;
        border-bottom-right-radius: .5em
    }
}
